/* rem and dont depend on html font-size in media queries!
Insted, 1rem = 1em = 16px */

/****************/
/* Below 1344px (smaller desktops) */
/****************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
} /* 84 * 16 = 1344 */

/****************/
/* Below 1200px (Landscape Tablets) */
/****************/

@media (max-width: 75em) {
  html {
    /* 9px/ 16px */
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }

  .heading-teritiary {
    font-size: 2.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    padding: 0 8rem;
    gap: 6.4rem;
    grid-template-columns: 1fr;
  }

  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    margin-top: 3.2rem;
    justify-content: center;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }
}
